p{
    border: solid 5px rgb(18, 18, 19);
}
p:hover{
    color: brown;
    
}
th:hover{
    color: blue;
}
td:hover{
    color: rgb(182, 108, 183);
}
h1:hover{
         background-position: center;
         background-image: url('https://raw.githubusercontent.com/docker-library/docs/01c12653951b2fe592c1f93a13b4e289ada0e3a1/python/logo.png');
         image-resolution: 50px;
         background-repeat: no-repeat;
}
body{
    margin-top: 50px;
    margin-bottom: 50em;
}